
*{
    margin: 0;
    padding: 0;
}
.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    list-style: none;
    display: flex;
    width: 15px;
    gap: 15px;
    padding-top: 14px;
}



.logo{
    display: flex;
    gap:3px;
}

.title{
    margin-top: 6px;
    font-weight: bolder;
}



